.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-slider-vertical {
  min-height: 274px;
}

::ng-deep {
  .mat-simple-snackbar{
    display: inline-flex;
    flex-direction: column;
  }

  .mat-slider-vertical{
     .mat-slider-thumb-label {
       width: 35px;
       height: 35px;

       .mat-slider-thumb-label-text {
         font-size: 11px;
       }
     }
  }

  mat-spinner {
    margin: 24px;
  }
}
