<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>chart</span>
    </mat-toolbar>

    <mat-spinner *ngIf="!chart"></mat-spinner>

    <ngx-charts-line-chart *ngIf="chart"
      [results]="[chart]"
      [view]="chartView"
      [activeEntries]="activeEntries"
      [xAxis]="true"
      [xAxisLabel]="true"
      [yAxis]="true"
      [yAxisLabel]="true"
      [timeline]="true"
      [yScaleMax]="max"
      [yScaleMin]="min"
      [showRefLines]="true"
      [referenceLines]="thresholdLine ? [thresholdLine] : []">
    </ngx-charts-line-chart>

    <mat-slider *ngIf="chart"
      [max]="max"
      [min]="min"
      [step]="0.01"
      [thumbLabel]="true"
      [(ngModel)]="threshold"
      [vertical]="true"
      [style.height]="chartView[1]-130 + 'px'"
      (change)="onChange($event)">
    </mat-slider>

    <mat-form-field *ngIf="chart">
      <mat-label>Number of Data Points</mat-label>
      <mat-select (selectionChange)="changeNumberDataPoints($event)">
        <mat-option *ngFor="let datapoint of stockPriceData.series; let i = index" [value]="i+1">
          {{i+1}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav-content>
</mat-sidenav-container>
